.App {
  text-align: center;
}

.container {
  margin-top: 2% !important;
}

.custom-card {
  width: 18rem;
  margin: 8px; 
  text-align: initial;
}

.card-detail {
  margin: 3% 20%;
  width: initial;
  border: 1px solid rgba(219, 219, 219, 0.333);
}